@font-face {
    font-family: 'Lulo Clean';
    src: local('Lulo Clean'), local('LuloClean'),
        url('LuloClean.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lulo Clean';
    src: local('Lulo Clean Bold'), local('LuloClean-Bold'),
        url('LuloClean-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

