html {
  overflow: auto !important;
}

::selection {
  background: rgba(178, 211, 48, 0.6);
}
::-moz-selection {
  background: rgba(178, 211, 48, 0.6);
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.avenir {
  font-family: "Avenir Next LT", "Roboto", sans-serif !important;
}

.century {
  font-family: "Century Gothic", "Roboto", sans-serif !important;
}

.link {
  cursor: pointer !important;
}
