.v-application {
  font-family: "Avenir Next LT", "Roboto", sans-serif !important;
}

.v-application .headline, h1, h2, h3, h4, h5, h6 {
  font-family: "Lulo Clean", "Roboto", sans-serif !important;
}

.v-application h1, h2, h3, h4, h5, h6, p, span, a {
  word-break: keep-all !important;
}

.v-application h3 {
  font-size: 30px;
}

.v-application h4 {
  font-size: 20px;
}

.v-application a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.87) !important;
  transition: ease 0.3s;
}

.v-card {
  overflow: auto;
  border-radius: 8px !important;
}

.v-btn--outlined {
  border: 2px solid currentColor;
}

.v-toolbar__extension {
  padding: 0 !important;
}

.v-parallax__content {
  padding: 0 !important;
}
